@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400;500&family=Raleway:wght@300;400;500;600;700&display=swap');

abbr, acronym, address, applet, article, aside, audio, b,
big, blockquote, body, button, canvas, caption, center, cite, 
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, 
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, 
hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, 
mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, 
small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, 
th, thead, time, tr, tt, u, ul, var, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-family: Futura,sans-serif;
   vertical-align: initial;
}

*, :after, :before {
   box-sizing: border-box;
}


/*=====================================Logo*/

.logo {
   max-width: 170px;
   width: auto;
   margin: 0.7rem auto;
}

/*=====================================Modal*/

ul.main-modal li:not(:last-child) {
   margin-bottom: 1.5rem;
}

.main-modal {
   padding-left: 0;
}

.item {
   width: 100%;
   height: 5rem;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 1.5rem;
   border-radius: 5px;
   box-shadow: 0 0 15px rgb(0 0 0 / 25%);
   transition: border .4s;
   cursor: pointer;
   transition: all ease 0.3s;
}

.item:hover {
   transform: translateY(-5px);
   transition: all ease 0.3s;
}

.item img {
   width: auto;
   height: 100%;
   margin-right: 2rem;
   max-height: 5.5rem;
}

/*=====================================Header*/

.text-get {
   font-family: 'Montserrat';
   height: 3rem;
}

.title {
   font-size: 2.5rem;
   font-family: 'raleway';
}

.title2 {
   font-size: 2.5rem;
   margin-top: 100px;
   font-weight: 700;
   font-family: 'raleway';
}

.title3 {
   font-weight: 700;
   font-family: 'raleway';
   margin: 2rem 0 1rem 0;
   font-size: 25px;
   font-weight: 700;
}

.title-sm {
   font-family: 'raleway';
   font-size: 20px;
}

.country-selector {
   padding: 0.4rem 1.5rem;
   border: 1px solid #000;
   margin-left: 10px;
   border-radius: 5px;
   gap: 5px;
   cursor: pointer;
} 

/*=====================================Card-Us*/

.card {
   box-shadow: 0 0 15px rgb(0 0 0 / 25%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1rem;
   min-width: 10rem;
   min-height: 10rem;
   cursor: pointer;
   transition: all ease 0.5s;
}

.card:hover {
   background: rgb(216, 233, 255);
   transform: translateY(-5px);
   transition: all ease 0.5s;
}

.card-title {
   font-family: 'raleway';
   color: #000;
   font-size: 1rem;
}

.icon > img {
   max-height: 4rem;
}

/*=====================================Section-Quotes*/

.bg-shade {
   margin-top: 10rem;
   background: #ebeffa;
   padding: 10rem 0;
   clip-path: polygon(0 20%,100% 0,100% 100%,0 80%);
}

.info {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   margin: 0 auto;
}

.info.img-right > div {
   padding-right: 1rem;
}

.info button {
   margin-top: 1rem;
}

.rounded-btn {
   background-color: #6c0;
   box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
   color: #fff;
   border-radius: 100px;
   display: flex;
   justify-content: center;
   padding: 0.6rem 2rem;
   transition: all .25s;
}

.rounded-btn:hover {
   background-color: #8cdd3b;
}

.info.img-left > div {
   padding-left: 2rem;
}

.content {
   width: 75%;
}

/*=====================================Button*/

.btn-rounded {
   background-color: #6c0;
   box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
   font-family: 'raleway', sans-serif;
   color: #fff;
   border-radius: 100px;
   display: flex;
   justify-content: center;
   padding: 0.6rem 2rem;
   transition: all .25s;
}

.btn-rounded:hover {
   background-color: #8cdd3b;
   color: #fff;
   transition: all .25s;
}

/*=====================================Footer*/

.button-row {
   margin-top: 5rem;
   background-color: #3c4044;
}

.footers-items {
   line-height: 15px;
   flex-wrap: wrap;
}

.footers-link {
   font-family: 'raleway';
}

@media screen and (max-width: 1092px) {
   .content {width: 100%;}
}

@media screen and (max-width: 768px) {
   .info.img-right {flex-direction: column-reverse;}
   .info {flex-wrap: wrap;align-items: center;align-content: center;}
   .bg-shade {padding: 8rem 0;clip-path: polygon(0 5%,100% 0,100% 100%,0 95%);}
   .info.img-left > div {padding-left: 0rem;}
   .footers-link {font-size: 12px;}
}

@media (max-width: 360px) {
   .text-get {height: 5rem;}
   .footers-link {font-size: 10px; text-align: center;line-height: 8px;}
   .footer-item {line-height: 10px;}
   .title2 {font-size: 1.4rem;}
   .title {font-size: 1.7rem;}
   .images {width: 100%;}
}